################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SCPTroubleInTerroristTown/bin/Debug/net48
/SCPTroubleInTerroristTown/.vs
/SCPTroubleInTerroristTown/obj
